
{% extends "home.html" %}


{%block conteudo %}
        <form>
            <input id="nome" type="text" placeholder="Nome">
            <input id="senha" type="text" placeholder="Senha">
            <input id="bio" type="text" placeholder="bio">
            <input id="botao" type="button" value="Enviar" onclick="EnviarUsuario()">
        </form>
        <script>
            async function EnviarUsuario() {
                const dados={
                    nome : document.getElementById('nome').value,
                    senha : document.getElementById('senha').value,
                    bio : document.getElementById('bio').value
                };

                const resposta = await fetch('/usuarios', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dados)
                });

                if (resposta.ok) {
                    const resultado = await resposta.json();
                    alert("Usuário " + resultado.usuario + " criado!");
                } else {
                    alert("Erro ao enviar!");
                }
                
            }
        </script>
        {% endblock %}
 
  